<!doctype html>

<head lang="pt-BR">
  <title>Plataforma Aprendizado IoT</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />
  <link rel="icon" type="image/png" href="/imagens/icones/cookiejarfavicon.ico" />
  <link rel="stylesheet" href="./estilo.css" />
  <script src="./script.js"></script>
  

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="blue">
  <meta name="apple-mobile-web-app-title" content="Gerenciador de Dispensa">
  <link rel="apple-touch-icon" sizes="72x72" href="/imagens/icones/cookiejar72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/imagens/icones/cookiejar144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/imagens/icones/cookiejar152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/imagens/icones/cookiejar180.png">
</head>

<body>
  <header class="headerBar dark">
    <div class="cookieImg"><img src="imagens/icones/cookiejar72.png"></div>
    <div class="appName left">Plataforma Aprendizado</div>
  </header>
  <nav id ="nav" class="navBar bottom">
    <div class="buttonGroup">
      <button id="tab2" class="button tab hidden" for="tela2">Dispensa</button>
      <button id="tab1" class="button tab" for="tela1">
        Materiais de Estudo
      </button>
    </div>
  </nav>

  <div id="login" class="component">
        <div class="componentHeader">
            <h1>Login</h1>
        </div>    
        <div class="componentContent">
                <div class="field mvLeft3" id="divUsername">
                    <label class="fixed" id="lblItem" for="inputNovaTarefa"></label>
                    <input id="loginUsuario" type="text" autocomplete="off" value="" placeholder="Nome Usuário"/>
                </div>
                <div class="field mvLeft3" id="divSenha">
                    <label class="fixed" id="lblItem" for="inputNovaTarefa"></label>
                    <input id="loginSenha" type="password" autocomplete="off" value="" placeholder="Senha" />
                </div>
                <button id="btnLogin" class="button primary mvRight5">
                Entrar
                </button>
                <button id="btnSignup" class="button primary">
                    Registrar-se
                </button>
        </div>
  </div>

  <div id="signup" class="component hidden">
    <div class="componentHeader">
        <h1>Registrar-se</h1>
    </div>    
    <div class="componentContent">
        <form method="post" action="/">
            <div class="field mvLeft3" id="divEmail">
                <label class="fixed" id="lblItem" for="inputNovaTarefa"></label>
                <input id="email" type="text" autocomplete="off" value="" placeholder="Email" name="email" required/>
            </div>
            <div class="field mvLeft3" id="divUsername">
                <label class="fixed" id="lblItem" for="inputNovaTarefa"></label>
                <input id="username" type="text" autocomplete="off" value="" placeholder="Nome Usuário" name="username" required/>
            </div>
            <div class="field mvLeft3" id="divSenha">
                <label class="fixed" id="lblItem" for="inputNovaTarefa"></label>
                <input id="password1" type="password" autocomplete="off" value="" placeholder="Senha" name="senha" required/>
            </div>
            <div class="field mvLeft3" id="divSenha">
                <label class="fixed" id="lblItem" for="inputNovaTarefa"></label>
                <input id="password2" type="password" autocomplete="off" value="" placeholder="Confirmar Senha" required/>
            </div>
            <input type="submit" id="btnSalvar" class="button primary mvRight5" value="Salvar">
        </form>    
    </div>
  </div>

  <div id="telaInicial" class="component hidden">
    <div class="componentHeader">
      <h1 class="componentTitle mvLeft2">Início</h1>
    </div>
    <div class="componentContent">
      <ul class="list mt4" id="listaConteudo">
      </ul>
      </div>
    </div>
  </div>

  <div id="telaConteudo" class="component hidden">
    <div class="componentHeader">
      <h1 class="componentTitle mvLeft2" id="tituloConteudo"></h1>
    </div>
    <div class="componentContent">
      <p class="list mt4 conteudo" id="verConteudo">
      </p>
      </div>
    </div>
  </div>

  <div id="tela1" class="component hidden">
    <div class="componentContent">
      <div class="componentHeader">
        <h1>Temas de Estudo</h1>
        <button id="addCompra" class="button primary mvLeft3">
          <img src="./imagens/plus1.png" />
        </button>
      </div>
      <ul class="list mt4" id="listaCompras">
      </ul>
    </div>
  </div>

  <div id="tela2" class="component hidden">
    <div class="componentContent">
      <div class="componentHeader">
        <h1>Itens da Dispensa</h1>
        <button id="addDispensa" class="button primary mvLeft3">
          <img src="./imagens/plus1.png" />
        </button>
      </div>
      <div class="tableHeader">
        <table class="table">
          <tr>
            <th>Item</th>
            <th>Qtd</th>
            <th>Unidade</th>
            <th>Validade</th>
          </tr>
        </table>
      </div>
      <table id ="dispensa" class="table mt6">
        <tr>
          <td>Torta de mousse de limão</td>
          <td>12</td>
          <td>unidade</td>
          <td>11/04/2021</td>
        </tr>
      </table>
    </div>
  </div>

  <div id="tela3" class="component hidden">
    <div class="componentContent">
      <div class="componentHeader">
        <h1 id="tituloCompra"></h1>
        <button id="addProduto" class="button primary mvLeft3">
          <img src="./imagens/plus1.png" />
        </button>
      </div>
      <div class="tableHeader">
        <table class="table">
          <tr>
            <th>Item</th>
            <th>Qtd</th>
            <th>Unidade</th>
            <th></th>
          </tr>
        </table>
      </div>
      <table id ="produtosCompra" class="table mt6">
      </table>
      <div class="buttonGroup">
        <button id="enviarCompra" class="button primary">
          Enviar para dispensa
        </button>
      </div>
    </div>
  </div>

  <div id="formulario" class="component hidden">
    <div class="componentHeader">
      <h1 class="componentTitle mvLeft2" id="lblNome"></h1>
    </div>
    <div class="componentContent">
      <div class="field" id="divItem">
        <label class="fixed" id="lblItem" for="inputNovaTarefa"></label>
        <input id="nome" type="text" autocomplete="off" value="" />
      </div>
    <div class="componentContent" id="divTipo">  
      <label for="tipo">Tipo conteúdo:</label>
      <select id="tipo" name="tipos">
        <option value="texto">Texto</option>
        <option value="pdf">PDF</option>
        <option value="video">Vídeo</option>
      </select>
    </div>  
      <div class="buttonGroup mt1 center">
        <button id="btnCanc" class="button quarter light">Cancelar</button>
        <button id="btnInc" class="button quarter primary">Incluir</button>
      </div>
    </div>
  </div>

  <div id="telaExclusao" class="component hidden">
    <div class="componentHeader">
      <h1 class="componentTitle mvLeft2" id="telaExclusao">Realmente deseja excluir?</h1>
    </div>
    <div class="componentContent">
      <div class="buttonGroup mt1 center">
        <button id="btnNao" class="button quarter light">Não</button>
        <button id="btnSim" class="button quarter primary">Sim</button>
      </div>
    </div>
  </div>

</body>