<!doctype html>

<head lang="pt-BR">
  <title>Plataforma Aprendizado IoT</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />
  <link rel="icon" type="image/png" href="/imagens/icones/cookiejarfavicon.ico" />
  <link rel="stylesheet" href="./estilo.css" />
  <script src="./script.js"></script>


  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="blue">
  <meta name="apple-mobile-web-app-title" content="Gerenciador de Dispensa">
  <link rel="apple-touch-icon" sizes="72x72" href="/imagens/icones/cookiejar72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/imagens/icones/cookiejar144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/imagens/icones/cookiejar152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/imagens/icones/cookiejar180.png">
</head>

<body>
  <header class="headerBar dark">
    <div class="cookieImg"><img src="imagens/icones/cookiejar72.png"></div>
    <div class="appName left">Plataforma Aprendizado</div>
  </header>
  <nav id="nav" class="navBar bottom">
    <form class="fit" method="post" action="/login">
      <div class="buttonGroup">
        <button id="tab1" class="button tab" for="telaInicial">Início</button>
      </div>
    </form>
    <form class="fit" method="post" action="/login">
      <div class="buttonGroup">
        <button id="tab2" class="button tab" for="telaPerfil">Perfil</button>
      </div>
    </form>
  </nav>

  <nav id="nav2" class="navBar">
    <h1 class="blockLabel center">
      <%= (typeof name !="undefined" ? name : "" ) %>
    </h1>
  </nav>

  <div id="telaInicial" class="component">

    <div class="componentContent">
      <%# --------------- case video ----------------%>
        <% if("video"=="video" ){ %>
          <h1 class="blockLabel center">
            <%= (typeof title !="undefined" ? title : "Title" ) %>
          </h1>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/qNHydTYkfcg?controls=0"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
              clipboard-write; 
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>

          <%# --------------- case video ----------------%>
            <% } else{ %>
              <h1 class="blockLabel center">>bar</h1>
              <% } %>

                <form method="post" action="/newcontent">
                  <h1 class="componentTitle mvRight3">Comentários
                    <button id="addConteudo" class="button primary mvRight3">
                      <img src="./imagens/plus1.png" />
                    </button>
                  </h1>
                </form>

                <ul class="list mt1" id="listaConteudo">
                  <% (typeof listaConteudo !="undefined" ? listaConteudo : "" )
                    listaConteudo.slice().reverse().forEach((item)=> { %>
                    <li>
                      <label class="blockLabel2">
                        <h1 class="center">
                          <%= item.nome %>
                        </h1>
                        <p class="justify">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                          voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                      </label>

                    </li>
                  <% }) %>
                </ul>
    </div>
  </div>
</body>