<!doctype html>

<head lang="pt-BR">
  <title>Plataforma Aprendizado IoT</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />
  <link rel="icon" type="image/png" href="/imagens/icones/cookiejarfavicon.ico" />
  <link rel="stylesheet" href="./estilo.css" />
  <script src="./script.js"></script>
  

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="blue">
  <meta name="apple-mobile-web-app-title" content="Gerenciador de Dispensa">
  <link rel="apple-touch-icon" sizes="72x72" href="/imagens/icones/cookiejar72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/imagens/icones/cookiejar144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/imagens/icones/cookiejar152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/imagens/icones/cookiejar180.png">
</head>

<body>
  <header class="headerBar dark">
    <div class="cookieImg"><img src="imagens/icones/cookiejar72.png"></div>
    <div class="appName left">Plataforma Aprendizado</div>
  </header>
  <nav id ="nav" class="navBar bottom">
      <form class = "fit" method="post" action="/login">
        <div class="buttonGroup">
            <button id="tab1" class="button tab" for="telaInicial">Início</button>
        </div>
      </form>
      <form class = "fit" method="post" action="/login">
        <div class="buttonGroup">   
          <button id="tab2" class="button tab" for="telaPerfil">Perfil</button>
        </div>
      </form>
  </nav>

  <nav id ="nav2" class="navBar">
    <h1 class="blockLabel center"><%= (typeof name != "undefined" ? name : "") %></h1>
  </nav>

  <div id="telaInicial" class="component">
    <div class="componentHeader">
      <form method="post" action="/newcontent">
        <h1 class="componentTitle mvLeft2">Seus conteúdos
        <button id="addConteudo" class="button primary mvRight3">
          <img src="./imagens/plus1.png" />
        </button>
      </form>
    </h1>
    </div>
    </div>
    <div class="componentContent">
      <ul class="list mt4" id="listaConteudo">
        <%  
            (typeof listaConteudo != "undefined" ? listaConteudo : "")
            listaConteudo.slice().reverse().forEach((item) => { %>
              <form class = "fit" method="post" action="/content">
                <button>
                  <li>
                    <img src="imagens\conteudo\conteudo<%=item.id%>.jpg" class = "thumb"/>
                    <label class="blockLabel"><%= item.nome %></label>
                    <input id="username" type="text" autocomplete="off" value="<%=item.id%>" name="idConteudo" hidden/>
                  </li>
                </button>
              </form>
        <% }) %>
      </ul>
      </div>
    </div>
</body>